<!doctype html>
<html lang="en" class="dark">

<head>
  <%- injectScriptHead %>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="OpenAPI Overlay Playground | Speakeasy">
    <meta property="og:description" content="A tool to visualize and generate OpenAPI Overlays">
    <meta property="og:url" content="https://overlay.speakeasy.com">
    <meta content="/opengraph-image.png" property="og:image" />
    <meta content="Speakeasy" property="og:image:alt" />
    <meta content="1200" property="og:image:height" />
    <meta content="642" property="og:image:width" />
    <title>OpenAPI Overlay Playground</title>
    <style>
      body {
        background-color: #000;
        margin: 0;
        padding: 0;
      }
    </style>
</head>

<body>
  <%- injectScriptBody %>
    <div id="root"></div>
</body>

</html>